.start_btn {
  width: 13vw;
  height: 5vh;
  position: relative;
  display: block;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  background-color: #fa605a;
}

/* 삭제될듯? */
.btn_log {
  width: 80px;
  height: 30px;
  position: relative;
  margin-left: 10px;
  display: block;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #85bcbe;
}

.logbtn {
  margin-left: 5px;
  background-color: #85bcbe;
  font-family: 'NanumSquare_L';
  text-decoration: none;
  color: white;
}

.container {
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: #282c34;
  /* background-image: url(./img/background.svg); */
}

.back-container {
  display: block;
  padding-top: 8.3333vw;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  position: relative;
  /* overflow: hidden; */
  /* list-style: none; */
  padding: 0;
  z-index: 1;
  background-color: darkgreen;
}

.top-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-y: -36vh;
  background-image: url(./img/backimg.png);

  height: 51vh;
  width: 100vw;
}

.back-container2 {
  background-color: darkgreen;
}

.below-container {
  background-color: gold;
}

.footer {
  display: flex;
  /* y축기준 중앙 */
  align-items: center;
  /* y축 기준 내부에 요소들 끝으로 붙이기 */
  justify-content: center;

  font-family: NanumSquare_L;
  font-size: 1.5vh;
  background-color: hotpink;
}

.back-wrapper {
  /* position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box; */
  text-align: center;
  width: 100vw;
  background-size: 100vw;
  background-repeat: no-repeat;
  /* height: 809px; */
  background-color: darkgrey;
}

.landing-info {
  position: absolute;
  z-index: 1;
  /* 총 100vw이고  */
  left: 10vw;
  /* width: 1000px; */
  padding-left: 20px;
  padding-right: 20px;
  width: 80vw;
  /* top: calc(4vw + 30px);
  top: 4.5vw; */

  /* 높이 */
  top: 16vh;
  height: 32vh;
  bottom: 16vh;

  background-color: gold;
}

.landing-info .landing-slide-slogan {
  margin: 0.5vw;

  /* 정렬 */
  text-align: left;

  font-size: 45px;
  font-family: NanumSquare_EB;
  /* 자간 */
  letter-spacing: 2.5px;
  /* 행간 */
  line-height: 65px;
  background-color: lightgreen;
}

.landing-info .landing-slide-button {
  margin: 0.5vw;
  height: 6vh;
  display: flex;
  /* y축기준 중앙 */
  align-items: center;
  /* y축 기준 내부에 요소들 끝으로 붙이기 */
  justify-content: flex-start;
  background-color: darkslategray;
}

.bottom-wrapper {
  padding: 20px;

  position: absolute;
  z-index: 1;
  /* 총 100vw이고  */
  left: 10vw;
  /* width: 1000px; */
  width: 80vw;
  /* top: calc(4vw + 30px);
  top: 4.5vw; */
  /* 높이 */
  top: 53vh;
  height: 35vh;
  bottom: 16vh;

  /* bottom wrapper끼리 줄간격(?) */
  line-height: 30px;
  background-color: lightpink;

  /* 라디오 버튼 중앙정렬 */
  text-align: center;
}

.landing-slide-img {
  height: 100%;
  background-color: deeppink;
}

.radio-btn {
  /* position: relative; */
  /* y축기준 중앙 */
  align-items: center;
  /* y축 기준 내부에 요소들 끝으로 붙이기 */
  justify-content: center;
  position: flex;

  margin-top: 20px;
}

/* radio button */
/* input[type='radio'],
input[type='radio']:checked {
  appearance: none;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 100%;

  margin-right: 0.5rem;
}

input[type='radio'] {
  background-color: white;
  width: 0.9rem;
  height: 0.9rem;
  border: 2px solid #404040;
}
input[type='radio']:checked {
  width: 0.9rem;
  height: 0.9rem;
  background-color: no-repeat s#404040;
} */

/* 전체 구조 (container) start */
.new-container {
  width: 100%;
  height: 100%;
  height: 100vh;
  width: 100vw;
}

.nav-container {
  position: fixed;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 6vh;
}

/* 부모가 .new-container (static) */
.main-container {
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 89vh;

  position: relative;
  top: 6vh;
}

/* 부모가 main-container(relative) */
.top-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  /* background-position-y: -36vh; */
  background-image: url(./img/backimg.png);

  height: 51vh;
  width: 100vw;

  display: flex;
  /* y축기준 중앙 */
  align-items: center;
  /* y축 기준 내부에 요소들 끝으로 붙이기 */
  justify-content: center;
}

.bottom-container {
  width: 100%;
  height: 100%;
  height: 38vh;
  width: 100vw;
  background-color: yellow;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 5vh;
  display: flex;
  /* y축기준 중앙 */
  align-items: center;
  /* y축 기준 내부에 요소들 끝으로 붙이기 */
  justify-content: center;

  font-family: NanumSquare_L;
  font-size: 1.5vh;
  background-color: hotpink;
}

/* 전체구조 end */

/* nav-bar 관련 start */
.navbar {
  padding: 2.5px;
  background-color: white;
}

.nav_inner {
  background-color: aqua;
  display: flex;
  /* 내부요소-로고이미지 y축 중앙정렬 */
  align-items: center;
  justify-content: space-between;
  height: 5vh;
}

.nav_user_box {
  background-color: coral;
  /* 내부 아이템 옆으로 늘어트려서 정렬  */
  display: flex;
  /* y축기준 중앙 */
  align-items: center;
  /* y축 기준 내부에 요소들 끝으로 붙이기 */
  justify-content: flex-end;
  /* <ul>tag 앞에 동그라미 제거 */
  list-style: none;
  padding: 0;
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
  width: 30vw;
}

/* button 디자인 (앞쪽-투명버튼)*/
/* .nav_user_box .front_btn {
  width: 95px;
  height: 30px;
  position: relative;
  margin-left: 10px;
  display: block;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fa605a;
} */
/* button 디자인 (뒷쪽-빨간버튼) */
/* .nav_user_box .back_btn {
  width: 95px;
  height: 30px;
  position: relative;
  margin-left: 10px;
  display: block;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fa605a;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4); 
} */

/* nav-bar 관련 end */

/* top-container 내부 start */

/* template(login, register, register완료(환영창), member only */
/* 부모가 .top-container(static) */
.template-container {
  /* 컨테이너 크기 */
  width: 50vw;
  height: 60vh;

  /* 위치설정 -> 부모가 static -> relative*/
  position: relative;
  top: 18vh; /* 위에서 부터 18vh떨어진 시점 */

  /* 맨뒤로 설정과 유사 */
  z-index: 1;

  /* padding */
  padding: 1vh;

  background-color: lime;
}

/* top-wrapper : 설명창(upload, select type, search(얘만약간다름) */

/* top-container 내부 end */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*FONT*/

@font-face {
  font-family: 'BwSurco';
  src: url('./font/BwSurco-BlackItalic.otf');
}
@font-face {
  font-family: 'NanumSquare_L';
  src: url('./font/NanumSquare_acL.ttf');
}
@font-face {
  font-family: 'NanumSquare_R';
  src: url('./font/NanumSquare_acR.ttf');
}
@font-face {
  font-family: 'NanumSquare_B';
  src: url('./font/NanumSquare_acB.ttf');
}
@font-face {
  font-family: 'NanumSquare_EB';
  src: url('./font/NanumSquare_acEB.ttf');
}
