.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav_inner {
  margin-right: 10px;
  display: flex;
  justify-content:space-between;
}

.nav_inner .a .img{
  align-items: center;
  align-self: center;
  align-content: center;
}

.nav_user_box {
  display: flex;
  align-items:center;
  list-style: none;
  padding: 0;
  margin: 0;

}

.nav_user_box .btn_log{
  width: 80px;
  height: 30px;
  position: relative;
  margin-left: 10px;
  display: block;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba( 255, 255, 255, 0.0 );
  border: 1px solid #85BCBE;
}


.nav_user_box .btn_res{
  width: 80px;
  height: 30px;
  position: relative;
  margin-left: 10px;
  display: block;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: #85BCBE;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4); /* 그림자효과 */
}


.logbtn {
  margin-left: 5px;
  background-color: #85BCBE;
  font-family: 'NanumSquare_L';
  text-decoration: none;
  color: white;
}



.container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  /* background-image: url(./img/background.svg); */
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}







@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*FONT*/


@font-face {
  font-family: "BwSurco";         
  src: url("./font/BwSurco-BlackItalic.otf"); 
}
@font-face {
  font-family: "NanumSquare_L";
  src: url("./font/NanumSquare_acL.ttf"); 
}
@font-face {
  font-family: "NanumSquare_R";
  src: url("./font/NanumSquare_acR.ttf"); 
}
@font-face {
  font-family: "NanumSquare_B";
  src: url("./font/NanumSquare_acB.ttf"); 
}
@font-face {
  font-family: "NanumSquare_EB";
  src: url("./font/NanumSquare_acEB.ttf"); 
}