.navbar {
  padding: 2.5px;
  background-color: white;
}

.nav_inner {
  flex: 1;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
}

.nav_user_box {
  flex: 0.5;
  background-color: blue;
  /* 내부 아이템 옆으로 늘어트려서 정렬  */
  display: flex;
  /* y축기준 중앙 */
  align-items: center;
  /* y축 기준 내부에 요소들 끝으로 붙이기 */
  justify-content: flex-end;
  /* <ul>tag 앞에 동그라미 제거 */
  list-style: none;
  padding: 0;
  margin: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

/* button 디자인 (앞쪽-투명버튼)*/
.nav_user_box .front_btn {
  width: 95px;
  height: 30px;
  position: relative;
  margin-left: 10px;
  display: block;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fa605a;
}
/* button 디자인 (뒷쪽-빨간버튼) */
.nav_user_box .back_btn {
  width: 95px;
  height: 30px;
  position: relative;
  margin-left: 10px;
  display: block;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fa605a;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4); /* 그림자효과 */
}

.start_btn {
  width: 13vw;
  height: 5vh;
  position: relative;
  display: block;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  background-color: #fa605a;
}

/* 삭제될듯? */
.btn_log {
  width: 80px;
  height: 30px;
  position: relative;
  margin-left: 10px;
  display: block;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #85bcbe;
}

.logbtn {
  margin-left: 5px;
  background-color: #85bcbe;
  font-family: 'NanumSquare_L';
  text-decoration: none;
  color: white;
}

.container {
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: #282c34;
  /* background-image: url(./img/background.svg); */
}

.back-container {
  display: block;
  padding-top: 8.3333vw;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  position: relative;
  /* overflow: hidden; */
  /* list-style: none; */
  padding: 0;
  z-index: 1;
  background-color: darkgreen;
}

.top-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-y: -36vh;
  background-image: url(./img/backimg.png);
}

.back-container2 {
  background-color: darkgreen;
}

.below-container {
  background-color: gold;
}

.footer {
  display: flex;
  /* y축기준 중앙 */
  align-items: center;
  /* y축 기준 내부에 요소들 끝으로 붙이기 */
  justify-content: center;

  font-family: NanumSquare_L;
  font-size: 1.5vh;
  background-color: hotpink;
}

.back-wrapper {
  /* position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box; */
  text-align: center;
  width: 100vw;
  background-size: 100vw;
  background-repeat: no-repeat;
  /* height: 809px; */
  background-color: darkgrey;
}

.landing-info {
  position: absolute;
  z-index: 1;
  /* 총 100vw이고  */
  left: 10vw;
  width: 80vw;
  /* top: calc(4vw + 30px);
  top: 4.5vw; */

  /* 높이 */
  top: 16vh;
  height: 32vh;
  bottom: 16vh;

  background-color: gold;
}

.landing-info .landing-slide-slogan {
  margin: 0.5vw;

  /* 정렬 */
  text-align: left;

  font-size: 3vw;
  font-family: NanumSquare_EB;
  /* 자간 */
  letter-spacing: 0vw;
  /* 행간 */
  line-height: 8vh;
  background-color: lightgreen;
}

.landing-info .landing-slide-button {
  margin: 0.5vw;
  height: 6vh;
  display: flex;
  /* y축기준 중앙 */
  align-items: center;
  /* y축 기준 내부에 요소들 끝으로 붙이기 */
  justify-content: flex-start;
  background-color: darkslategray;
}

.bottom-wrapper {
  position: absolute;
  z-index: 1;
  /* 총 100vw이고  */
  left: 10vw;
  width: 80vw;
  /* top: calc(4vw + 30px);
  top: 4.5vw; */

  /* 높이 */
  top: 53vh;
  height: 32vh;
  bottom: 16vh;

  display: flex;

  background-color: lightpink;
}

.landing-slide-img {
  height: 100%;
  background-color: deeppink;
}

.template-container {
  position: absolute;
  z-index: 1;
  /* 총 100vw이고  */
  left: 23vw;
  width: 55vw;
  /* top: calc(4vw + 30px);
  top: 4.5vw; */

  /* 높이 */
  top: 18vh;
  height: 55vh;
  bottom: 16vh;
  background-color: lime;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*FONT*/

@font-face {
  font-family: 'BwSurco';
  src: url('./font/BwSurco-BlackItalic.otf');
}
@font-face {
  font-family: 'NanumSquare_L';
  src: url('./font/NanumSquare_acL.ttf');
}
@font-face {
  font-family: 'NanumSquare_R';
  src: url('./font/NanumSquare_acR.ttf');
}
@font-face {
  font-family: 'NanumSquare_B';
  src: url('./font/NanumSquare_acB.ttf');
}
@font-face {
  font-family: 'NanumSquare_EB';
  src: url('./font/NanumSquare_acEB.ttf');
}
